# ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
*.sbr
*.sln.ide/
obj/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

# Ignore prepared output folders
bin/prep/Backup/
bin/prep/Bootstrap/
bin/prep/dist/
bin/prep/nuget/
bin/prep/Runtime/
bin/prep/ST3/
bin/prep/ST4/
bin/prep/Tool/
