# ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
*.sbr
*.vs/
_ReSharper*/
[Tt]est[Rr]esult*

# Ignore build output
bin/
obj/
packages/

# Ignore prepared output folders
build/prep/Backup/
build/prep/Bootstrap/
build/prep/dist/
build/prep/nuget/
build/prep/Runtime/
build/prep/ST3/
build/prep/ST4/
build/prep/Tool/
