<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Analysis Rules for ANTLR 3" Description=" " ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1573" Action="None" />
    <Rule Id="CS1591" Action="None" />
  </Rules>
</RuleSet>